<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task_2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="body">
        <div class="side"></div>
        <div class="center">
            <ul>
                <li class="li_1">{{cat[0]}}</li>
                <li class="li_2">{{cat[1]}}</li>
                <li class="li_3">{{cat[2]}}</li>
                <li class="li_4">{{cat[3]}}</li>
                <li class="li_5">{{cat[4]}}</li>
            </ul>
            <h2>HTML</h2>
        </div>
    </div>
</body>
</html>